<div class="container">
    <div class="card mt-5">
        <div class="card-header bg-info text-white">Suas tarefas</div>
        <div class="card-body" style="background-color: f05454;">
            <mat-accordion class="example-headers-align" *ngIf="lembretes.length>0">
                <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle *ngFor="let lembrete of lembretes">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="font-weight-bold">
                          <h4>{{lembrete.titulo}}</h4>
                        </mat-panel-title>
                        <mat-panel-description>
                            Data: {{lembrete.data}}
                        </mat-panel-description>
                    </mat-expansion-panel-header>
                    <h5>Descrição:</h5>
                    <p> {{lembrete.descricao}}</p>

                    <mat-action-row>
                        <button mat-button class="btn-danger" (click)="onDelete(lembrete.id)">Excluir</button>
                        <button mat-button class="btn-warning" [routerLink]="['/editar', lembrete.id]">Editar</button>
                    </mat-action-row>
                </mat-expansion-panel>
            </mat-accordion>
            <p *ngIf="lembretes.length <= 0">
                Nenhum lembrete cadastrado
            </p>
        </div>
    </div>
</div>
